<%= form_for(car_id) do |f| %>
  <% if car_id.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(car_id.errors.count, "error") %> prohibited this car_id from being saved:</h2>

      <ul>
      <% car_id.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Year %>
    <%= f.number_field :Year %>
  </div>

  <div class="field">
    <%= f.label :Make %>
    <%= f.text_field :Make %>
  </div>

  <div class="field">
    <%= f.label :Model %>
    <%= f.text_field :Model %>
  </div>

  <div class="field">
    <%= f.label :LicencePlate %>
    <%= f.text_field :LicencePlate %>
  </div>

  <div class="field">
    <%= f.label :Color %>
    <%= f.text_field :Color %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
