<p id="notice"><%= notice %></p>

<h1>Car Ids</h1>

<table>
  <thead>
    <tr>
      <th>Year</th>
      <th>Make</th>
      <th>Model</th>
      <th>Licenceplate</th>
      <th>Color</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @car_ids.each do |car_id| %>
      <tr>
        <td><%= car_id.Year %></td>
        <td><%= car_id.Make %></td>
        <td><%= car_id.Model %></td>
        <td><%= car_id.LicencePlate %></td>
        <td><%= car_id.Color %></td>
        <td><%= link_to 'Show', car_id %></td>
        <td><%= link_to 'Edit', edit_car_id_path(car_id) %></td>
        <td><%= link_to 'Destroy', car_id, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Car', new_car_id_path %>
